<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://cdn.tailwindcss.com https://cdn.jsdelivr.net https://checkout.razorpay.com;">
    <script nonce="<%= nonce%>"></script>
    <title>Reset Password</title>
  
</head>
<body>
    <form id="resetPasswordForm">
        <h2>Reset Password</h2>
        <input type="password" id="newPassword" placeholder="Enter new password" required />
        <input type="password" id="retypePassword" placeholder="Re-Enter password" required/>
        <button type="submit">Reset Password</button>
    </form>
    <p id="expiredLink"></p>
    <script src="../js/resetPassword.js"></script>
    <script src="../js/axios.min.js"></script>
</body>
</html>