<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Expense Tracker Application">
  <meta name="keywords" content="Expense Tracker, Budgeting, Personal Finance">
  <meta name="author" content="Harshit Sah">

  <title>Expenses</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="../js/axios.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body class="min-h-screen flex bg-gray-100">

  <aside class="w-64 bg-indigo-600 min-h-screen text-white ">
    <div>
      <nav class="mt-6 space-y-4">

        <button class="nav-btn w-full text-left px-4 py-2 hover:bg-indigo-700 rounded"
          data-target="expenseListSection">Expenses</button>
        <button class="nav-btn w-full text-left px-4 py-2 hover:bg-indigo-700 rounded" data-target="expenseApp">Add
          Expense</button>
        <button class="nav-btn w-full text-left px-4 py-2 hover:bg-indigo-700 rounded" data-target="incomesection">Add
          Income</button>
        <button class="nav-btn w-full text-left px-4 py-2 hover:bg-indigo-700 rounded" data-target="reports">
          Reports</button>
        <button class="nav-btn w-full text-left px-4 py-2 hover:bg-indigo-700 rounded"
          data-target="premiumsection">Premium</button>

      </nav>
      <div class="flex items-center justify-center mt-6">
        <button id="logout" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"><i
            class="ri-logout-circle-r-line"> Logout</i> </button>
      </div>
    </div>

  </aside>


  <main class="flex-1 p-6 bg-gray-100 space-y-10">

    <!-- Expense Form Section -->
    <section id="expenseApp" class="app-section bg-white hidden rounded-2xl shadow-md p-8 max-w-xl mx-auto ">
      <h3 class="text-2xl font-semibold text-center text-gray-800 mb-6">Add an Expense</h3>
      <form id="expenseForm" class="space-y-4">
        <div>
          <label for="expense" class="block text-sm font-medium text-gray-700 mb-1">Expense Name</label>
          <input type="text" name="expense" id="expense" required
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
        </div>
        <div>
          <label for="money" class="block text-sm font-medium text-gray-700 mb-1">Amount</label>
          <input type="number" name="money" id="money" required
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
        </div>
        <div class="relative">
          <label for="categoryInput" class="block text-sm font-medium text-gray-700 mb-1">Category</label>
          <!--Searchable Input-->
          <input type="text" id="categoryInput" name="categoryInput" placeholder="Search Category" required
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
          <!--Dropdown List-->
          <ul id="categoryList"
            class="absolute z-10 w-full bg-white border border-gray-300 rounded-md shadow-lg mt-1 max-h-60 overflow-y-auto hidden">
            <!-- Category options will be dynamically inserted here -->
          </ul>

          <select id="category" name="category" required class="hidden">


          </select>
        </div>
        <button type="submit"
          class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition flex items-center justify-center gap-2">
          <i class="fas fa-save"></i> Add Expense
        </button>
      </form>
    </section>

    <!-- Income Form Section -->
    <section id="incomesection" class="app-section bg-white hidden rounded-2xl shadow-md p-8 max-w-xl mx-auto ">
      <h3 class="text-2xl font-semibold text-center text-gray-800 mb-6">Add an Income</h3>
      <form id="incomeForm" class="space-y-4">
        <div>
          <label for="sourceName class=" block text-sm font-medium text-gray-700 mb-1">Income Name</label>
          <input type="text" name="sourceName" id="sourceName" required
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
        </div>
        <div>
          <label for="money" class="block text-sm font-medium text-gray-700 mb-1">Amount</label>
          <input type="number" name="amount" id="amount" required
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
        </div>
        <button type="submit"
          class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition flex items-center justify-center gap-2">
          <i class="fas fa-save"></i> Add Income
        </button>
      </form>
    </section>


    <!-- Expense List Section -->
    <section id="expenseListSection"
      class="app-section max-w-6xl mx-auto bg-white shadow-xl rounded-2xl p-6 overflow-x-auto">
      <h3 class="text-2xl font-semibold text-center text-gray-800 mb-6">List of Expenses</h3>
      <!-- Current Month, Total Income, Remaining Budget -->
      <div class="flex justify-between items-center mb-4">
        <div class="flex flex-col">
          <span class="text-gray-700 font-medium text-sm">Current Date</span>
          <span id="currentMonth" class="text-lg font-semibold text-gray-800">January 2025</span>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-700 font-medium text-sm">Percentage</span>
          <span id="percentage" class="text-lg font-semibold text-gray-800"></span>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-700 font-medium text-sm">Total Income</span>
          <span id="totalIncome" class="text-lg font-semibold text-gray-800">₹5000</span>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-700 font-medium text-sm">Remaining Budget</span>
          <span id="remainingBudget" class="text-lg font-semibold text-gray-800">₹2000</span>
        </div>
      </div>

      <div class="flex justify-between items-center mb-4">
        <label for="monthpicker" class="mr-2 text-sm font-medium text-gray-700">Select Month:</label>
        <input id="monthpicker" type="month" name="monthpicker"
          class="border border-gray-300 rounded-md px-4 py-2 bg-white text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition">

        </input>
        <!-- Per Page Selector-->
        <label for="expensesPerPage" class="mr-2 text-sm font-medium text-gray-700">Per page:</label>
        <select id="expensesPerPage"
          class="border border-gray-300 rounded-md px-4 py-2 bg-white text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">40</option>
        </select>
      </div>


      <!-- Expense Table -->
      <div id="expense-table" class="overflow-x-auto">
        <table id="expenses-content"
          class="min-w-full w-full text-left text-gray-700 border border-gray-200 rounded-lg overflow-hidden table-auto">
          <thead class="bg-gray-100 text-gray-600 uppercase text-xs">
            <tr>
              <th class="px-6 py-3 border-b border-gray-200">#</th>
              <th class="px-6 py-3 border-b border-gray-200">Expense Name</th>
              <th class="px-6 py-3 border-b border-gray-200">Money Spent <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <th class="px-6 py-3 border-b border-gray-200">Category</th>
              <th class="px-6 py-3 border-b border-gray-200">Date</th>
              <th class="px-6 py-3 border-b border-gray-200 text-center">Delete</th>
            </tr>
          </thead>
          <tbody id="expense-body" class="divide-y divide-gray-100">
            <!--Expense Rows will be dynamically inserted here-->
          </tbody>
        </table>
      </div>
      <!-- Pagination Controls -->
      <div id="pagination" class="flex justify-center mt-6 space-x-2"></div>
    </section>



    <!-- Old Reports Section -->
    <section id="reports" class=" app-section bg-white rounded-2xl shadow-md p-8 max-w-5xl mx-auto hidden">
      <h3 class="text-2xl font-semibold text-gray-800 mb-6">Old Reports</h3>

      <div class="overflow-x-auto">
        <table class="min-w-full text-sm text-gray-700 table-auto">
          <thead class="bg-gray-100">
            <tr>
              <th class="px-4 py-2 text-left">#</th>
              <th class="px-4 py-2 text-left">Report URL</th>
              <th class="px-4 py-2 text-left">Date Created</th>
              <th class="px-4 py-2 text-left">Download</th>
            </tr>
          </thead>
          <tbody id="reports-body" class="divide-y divide-gray-200"></tbody>
        </table>
      </div>
      <br/>
      <div class="overflow-x-auto">
        <button class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition" id="fileDownload"
          onclick="downloadfile()">
          <i class="fas fa-plus"></i> New
        </button>
      </div>
    </section>

    <!-- Premium Section -->
    <section id="premiumsection"
      class="app-section bg-white rounded-2xl shadow-md p-8 max-w-xl mx-auto text-center hidden">

      <div id="premiumDiv" class="inline">
        <h3 class="text-2xl font-semibold text-gray-800 ">Premium Features</h3>
        <button id="buyPremiumButton"
          class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition">
          Buy Premium
        </button>
      </div>
      <div id="leaderboard"></div>

    </section>

  </main>


  <script src="../js/expense.js"></script>
  <script src="../js/premiumFeatures.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>